.search-area {
    display: flex; /* This will enable Flexbox for the container */
    align-items: center; /* This will vertically center the items */
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 80%;
}

.search-area select,
.search-area input {
    margin-right: 10px; /* Adds some space between the elements */
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
}

#filter-type {
    width: auto; /*the other CSS file makes it take up 100% so doing this to override this specific select tag*/
}
#search-input {
    background-color: rgb(255, 223, 239);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
  }
@media (min-width: 250px) and (max-width: 545px) {
    .search-area {
        padding-top: 10px;
        display: flex; /* Enable Flexbox for the container */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        margin: auto; /* Center the container and remove default margin */
        box-sizing: border-box; /* Include padding and border in the element's total width and height */
        max-width: 45%; /* Limit the maximum width to prevent spilling out */
    }
}