html,
body {
    color:rgb(206, 255, 239);
    background: linear-gradient(rgb(53, 90, 77),rgb(24, 43, 36));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px auto;
    padding: 0px auto;
    /* border: 3px double #73956f; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    text-align: center;
}

header {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background: linear-gradient(rgb(53, 90, 77),rgb(33, 58, 49));
    border-bottom: 3px double #73956f;
    color: rgb(213, 252, 239);
}

header h1 {
    padding: 0px;
    box-sizing: border-box;
    font-size: 60px;
}

strong {
  color:rgb(234, 254, 154);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.plant-count {
  padding-left: 10px;
}

.header-img {
  width: 30%;
  max-width: 30%; 
  border-radius: 35px;
  margin-top: 20px;
  box-shadow: 3px 3px 3px rgba(10, 39, 22, 0.5);
}

.about-us-img {
  width: 30%;
  max-width: 30%; 
  border-radius: 35px;
  box-shadow: 3px 3px 3px rgba(10, 39, 22, 0.5);
}

#rosyPussyToes {
  font-size: 8px;
  color: lightcoral;
}

.img-container {
    filter:opacity(80%);
    text-align: center;
}

header h1 span {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    margin-left: 10px;
    color: lightpink;
}

main {
    margin: 0px auto;
    background: radial-gradient(rgb(53, 90, 77),rgb(24, 43, 36));
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-sizing: border-box;
  width: 90%;
  margin-left: 5%;
}

.new-plant-form {
    padding: 25px 25px;
    width: 70%;
    text-align: center;
}

.new-plant-form h2 {
    margin: 0;
}

.required {
  color: #d14007;
}

select,
form input,
form label,
form textarea {
  box-sizing: border-box;
  display: block;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
}

select,
form input,
form textarea {
  border: 1px solid #73956f;
  padding: 5px;
}

input,
select,
textarea {
  background-color: rgb(255, 245, 250);
}


form button[type="submit"],
button {
  font-weight: 900;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #73956f;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 3px 3px 3px rgba(10, 39, 22, 0.5);
}

/* coded more styles for this on JS and HTML */
form button[type="submit"]:hover,
button:hover {
  font-weight: 900;
  box-shadow: 3px 3px 3px rgba(5, 21, 12, 0.715);
}

#char-count {
  font-size: 10px;
}

.donated-plants h2 {
  margin: 25px 0 0;
  text-align: center;
}

.plant-inventory-container {
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  width: 80%;
  margin: auto;
}

.plant-inventory-container ul,
.donated-plants ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.plant-inventory-container ul li,
.donated-plants ul li {
  border: 2px dotted #73956f;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  list-style: none;
}

.donated-plants ul li {
  background-image: url(https://www.bbg.org/img/uploads/lightbox/_lightbox_retina/sweetbay_SNS_50019960796.jpg);
  background-size: cover;
  /* opacity: 90%; */
  background-attachment: fixed;
  background-repeat: no-repeat;
}


.single-plant p {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  list-style: none;
  background: rgba(41, 41, 41, 0.52);
}

.plant-inventory ul li {
  padding-right: 2.5%;
}

.plant-inventory {
  height: 100%;
  text-align: center;
}

/* coded more styles for this on JS and HTML */
.other-page {
  border-radius: 5px;
}

.plant-inventory h2 {
  text-align: center;
  margin: auto;
  padding-top: 25px;
  border-top: 3px double #73956f;
}

.about-us {
  margin: auto;
  width: 70%;
  text-align: center;
  list-style-position: inside;
  padding-bottom: 40px;
}
.plants {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 20%;
  text-align: center;
}

ol li {
  width: 90%;
  text-align:justify;
}

nav {
  margin: 0 auto;
  padding-bottom: 25px;
  text-align: center;
}

footer {
  height: 2%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #17291b;
  box-sizing: border-box;
}

footer p {
  margin: 0;
  text-align: center;
  font-size: 10px;
}

@media (min-width: 200px) and (max-width: 545px) {
  header h1 {
    font-size: 20px;
  }
  .header-img {
    width: 70%;
    border-radius: 5px;
    margin-top: 5px;
  }
  .about-us-img {
    width: 40%;
    border-radius: 5px;
  }
  h2 {
    font-size: 14px;
  }
  header h1 span {
    font-size: 10px;
  }
  html,
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Enable vertical scrollbar if necessary */
    font-size: 10px;
  }
  .plant-inventory-container ul,
  .donated-plants ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  .new-plant-form {
    padding-left:10px;
    width: 80%;
    text-align: center;
  }
  form button[type="submit"],
  button {
    margin: 5px;
    padding: 5px;
    font-size: 10px;
  }
  input,
  select,
  textarea {
    font-size: 8px;
  }
  #rosyPussyToes {
    font-size: 5px;
    color: lightcoral;
  }
  .plants {
    margin-left: 0%;
  }
  .about-us {
    width: 100%;
    padding-bottom: 20px;
  }
  nav {
    padding-bottom: 5px;
  }
  footer p {
    font-size: 5px;
  }
}

@media (min-width:546px) and (max-width: 750px) {
  header h1 {
    font-size: 24px;
  }
  .header-img {
    width: 70%;
    border-radius: 5px;
    margin-top: 5px;
  }
  .about-us-img {
    width: 40%;
    border-radius: 5px;
  }
  header h1 span {
    font-size: 10px;
  }
  h2 {
    font-size: 16px;
  }
  html,
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Enable vertical scrollbar if necessary */
    font-size: 10px;
  }
  .plant-inventory-container ul,
  .donated-plants ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  form button[type="submit"],
  button {
    margin: 5px;
    padding: 5px;
    font-size: 10px;
  }
  input,
  select,
  textarea {
    font-size: 10px;
  }
  #rosyPussyToes {
    font-size: 5px;
    color: lightcoral;
  }
  .plants {
    margin-left: 0%;
  }
  .about-us {
    width: 100%;
    padding-bottom: 20px;
  }
  footer p {
    font-size: 8px;
  }
}

@media (min-width:751px) and (max-width: 767px) {
  header h1 {
    font-size: 24px;
  }
  .header-img {
    width: 70%;
    border-radius: 5px;
    margin-top: 5px;
  }
  .about-us-img {
    width: 40%;
    border-radius: 5px;
  }
  header h1 span {
    font-size: 10px;
  }
  h2 {
    font-size: 16px;
  }
  html,
  body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Enable vertical scrollbar if necessary */
    font-size: 10px;
  }
  .plant-inventory-container ul,
  .donated-plants ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  form button[type="submit"],
  button {
    margin: 5px;
    padding: 5px;
    font-size: 10px;
  }
  input,
  select,
  textarea {
    font-size: 10px;
  }
  #rosyPussyToes {
    font-size: 5px;
    color: lightcoral;
  }
  .plants {
    margin-left: 15%;
  }
  .about-us {
    width: 100%;
    padding-bottom: 20px;
  }
  footer p {
    font-size: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1240px) {
  header h1 {
    font-size: 30px;
  }
  .header-img {
    width: 70%;
    border-radius: 15px;
    margin-top: 5px;
  }
  .about-us-img {
    width: 40%;
    border-radius: 15px;
  }
  header h1 span {
    font-size: 10px;
  }
  h2 {
    font-size: 20px;
  }
  html,
  body {
    box-sizing:border-box;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Enable vertical scrollbar if necessary */
    font-size: 12px;
  }
  .plant-inventory-container ul,
  .donated-plants ul {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  form button[type="submit"],
  button {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }
  input,
  select,
  textarea {
    font-size: 12px;
  }
  .about-us {
    margin: 0px auto;
    width: 80%;
    text-align: center;
    list-style-position: inside;
  }
  #rosyPussyToes {
    font-size: 5px;
    color: lightcoral;
  }
  .plants {
    margin-left: 0%;
  }
  ol li {
    padding-left: 0px;
    width: 100%;
    text-align:justify;
  }
  footer {
    padding-top: 3px;
    padding-bottom: 7px;
    position: fixed;
  }
}

@media (min-width: 1241px) and (max-width: 1280px) {
  header h1 {
    font-size: 30px;
  }
  .header-img {
    width: 70%;
    border-radius: 15px;
    margin-top: 5px;
  }
  .about-us-img {
    width: 40%;
    border-radius: 15px;
  }
  header h1 span {
    font-size: 10px;
  }
  h2 {
    font-size: 20px;
  }
  html,
  body {
    box-sizing:border-box;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Enable vertical scrollbar if necessary */
    font-size: 12px;
  }
  .plant-inventory-container ul,
  .donated-plants ul {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  form button[type="submit"],
  button {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
  }
  input,
  select,
  textarea {
    font-size: 12px;
  }
  .about-us {
    margin: 0px auto;
    width: 80%;
    text-align: center;
    list-style-position: inside;
  }
  #rosyPussyToes {
    font-size: 5px;
    color: lightcoral;
  }
  ol li {
    padding-left: 0px;
    width: 100%;
    text-align:justify;
  }
  footer {
    padding-top: 3px;
    padding-bottom: 7px;
    position: fixed;
  }
}